{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="py-5">

          <h2 class="h2login">احراز هویت</h2>

          <form class="form-login" method="POST">
              {% csrf_token %}
            <div class="img-container">
              <img src="{% static 'assets/img/slide/1.png' %}" alt="Avatar" class="avatar">
            </div>

            <div class="container-login">
              <label for="uname"><b>نام کاربری</b></label>
              {{form.username}}

              <label for="psw"><b>رمز عبور</b></label>
              {{form.password}}

              <button class="btn-login" type="submit">ورود</button>

            </div>
              {% if form.errors %}
                 {% for field in form %}
                     {% for error in field.errors %}
                         <p style="color: red;" dir="rtl" > {{ error }} </p>
                     {% endfor %}
                 {% endfor %}
              {% endif %}
          </form>



      </section>
{% endblock content %}