<footer class="text-center text-white " style="background-color: #caced1;">
       <div class="container p-4">
         <Section: Images >
         <section class="">
             {% load static %}
          <div class="row">
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/11.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/22.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/33.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/44.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/55.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
              <div
                   class="bg-image hover-overlay ripple shadow-1-strong rounded"
                   data-ripple-color="light"
                   >
                <img
                     src="{% static 'assets/img/footer/66.jpg' %}"
                     class="w-100"
                     />
                <a href="#!">
                  <div
                       class="mask"
                       style="background-color: rgba(251, 251, 251, 0.2);"
                       ></div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>


      <!-- Copyright -->
       <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 1);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">
                    <!--Google map-->
 <div id="map-container-google-1" class="z-depth-1-half map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12984.097284313437!2d53.33684607418696!3d35.55310152981425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f9a4c66d27c58e3%3A0xd9c0cd768ca4311e!2sSimorgh%20Park!5e0!3m2!1sen!2s!4v1674304656827!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"
      style="border:0" allowfullscreen></iframe>
  </div>

  <!--Google Maps-->
                </div>
                <div class="col-lg-4 my-3 my-lg-0">

                    <a class="btn btn-dark btn-social mx-2" href=><i class="fa fa-telegram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href=><i class="fa fa-whatsapp"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href=><i class="fa fa-instagram"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <span>آدرس: سمنان-پیست ولایت-پارک سیمرغ</span><br>
                  <span> تماس: 09214174853</span>
                </div>
            </div>
        </div>
      </div>
    </footer>