

<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
               <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a> -->
                <button id="toggle_menu" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex">
                        {% if user.id is None %}
                            <a class="btn btn-outline-dark" href="{% url 'register' %}">ورود و ثبت نام

                            </a>
                        {% else %}

                            <a class="btn btn-outline-danger" href="{% url 'logout' %}" style="margin:2px;">
                                خروج

                            </a>
                        <a class="btn btn-outline-info" href="{% url 'test' %}" style="margin:2px;">
                            سبد خرید
                            </a>
                        {% endif %}

                    </form>





                    <div class="collapse navbar-collapse navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" id="navbarResponsive">
                        <div class="input-group">
                          <form method="GET" action="{% url 'search' %}">
                        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" name="keyword"/>
                        <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fa fa-search"></i></button>
                          </form>
                            </div>
                        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                            <li class="nav-item"><a class="nav-link hover-green button1"  href="{% url 'news' %}">اخبار</a></li>
                            <li class="nav-item"><a class="nav-link hover-green button1"  href="{% url 'skate' %}">انواع رشته اسکیت</a></li>
                            <li class="nav-item"><a class="nav-link hover-green button1" href="{% url 'store' %}">فروشگاه</a></li>
                            <li class="nav-item"><a class="nav-link hover-green button1" href="{% url 'members' %}">اعضا باشگاه</a></li>
                            <li class="nav-item"><a class="nav-link hover-green button1" href="{% url 'home' %}">خانه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
</nav>