{% extends 'base.html' %}
{% block content %}

<div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{news.image.url}}" alt="..." /></div>
            <div class="col-lg-5">
                <h2 class="font-weight-light">{{news.title}}</h2>
            </div>
        </div>
        <div class="col-lg-5">
          <p class="font-weight-light zirnevis">  نوشسته شده در: {{news.published_at}} – بروزرسانی : {{news.updated_at}} تعداد بازدید{{news.views}}</p>
      </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
              <p class="text-black m-0"> {{news.description}}</P>
            </div>
        <!-- Content Row-->
         </div>
         </div>
{% endblock %}