{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="py-5">
          <div class="container px-4 px-lg-5 my-5">
              <div class="row gx-4 gx-lg-5 align-items-center">
                  <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'assets/img/slide/1.jpg' %}" alt="..." /></div>
                  <div class="col-md-6">
                      <h1 class="display-5 fw-bolder">SPEED SKATE</h1>
                      <div class="fs-5 mb-5">
                      </div>
                      <p class="lead">اسکیت سرعت  ورزش رقابتی است که در آن شرکت کنندگان اسکیت بازان سرعتی  یک فاصله مشخص را با استفاده از کفش اسکیت طی می‌کنند. این ورزش انواع مختلفی بر مبنای مسافت طی شده دارد . می‌توان از اسکیت سرعت مسیر بلند، مسیر کوتاه و ماراتون نام برد. در المپیک اسکیت سرعت مسیر بلند تنها اسکیت سرعت Speed Skating و اسکیت سرعت مسیر کوتاه را با عنوان مسیر کوتاه  short track می‌خوانند.</p>
              </div>
          </div>
        </div>


          <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
              <div class="col-md-6">
                <h1 class="display-5 fw-bolder">INLINE SKATE</h1>
                <div class="fs-5 mb-5">
                </div>
                <p class="lead">اسکیت های اینلاین نوعی از اسکیت های غلتکی هستند که برای اسکیت درون خطی استفاده می شوند. برخلاف اسکیت های چهارگانه که دارای دو چرخ جلو و دو چرخ عقب هستند، اسکیت های درون خطی معمولاً دارای دو تا پنج چرخ هستند که در یک خط قرار گرفته اند. برخی، به ویژه آنهایی که برای تفریح هستند، یک بلوک لاستیکی "ایست" یا "ترمز" به پشت یکی از اسکیت ها یا گهگاهی هر دوی آن ها وصل شده اند تا اسکیت باز بتواند با تکیه دادن به پشت پا با اسکیت ترمز سرعت خود را کاهش دهد یا متوقف کند.</p>
            </div>
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'assets/img/slide/2.jpg' %}" alt="..." /></div>

            </div>
        </div>




        <div class="container px-4 px-lg-5 my-5">
          <div class="row gx-4 gx-lg-5 align-items-center">
              <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'assets/img/slide/3.jpg' %}" alt="..." /></div>
              <div class="col-md-6">
                  <h1 class="display-5 fw-bolder">ICE SKATE</h1>
                  <div class="fs-5 mb-5">
                  </div>
                  <p class="lead">اسکیت روی یخ به حرکت خودرانش و سر خوردن شخص روی سطح یخ با استفاده از اسکیت های یخ با تیغه های فلزی گفته می شود. مردم به دلایل مختلف از جمله تفریح (تفریح)، ورزش، ورزش های رقابتی و رفت و آمد اسکیت می کنند. اسکیت روی یخ ممکن است بر روی آب‌های یخ‌زده طبیعی مانند برکه‌ها، دریاچه‌ها، کانال‌ها و رودخانه‌ها و روی سطوح یخی ساخته‌شده توسط انسان در داخل و خارج از خانه انجام شود.</p>
          </div>
      </div>
    </div>

      </section>


{% endblock %}