{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h4 class="display-4 fw-bolder">با انواع رشته های اسکیت آشنا شوید</h4>
        </div>
    </div>
</header>

<!-- Section-->
        <section class="py-5">
                    <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت فری استایل</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/1.jpg'%}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت رولبال</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/2.jpg'%}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت سرعت</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/3.jpg'%}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت آلپاین</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/4.jpg'%}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت هاکی</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/5.jpg'%}" alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><h2>رشته اسکیت هنری</h2></div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/img/portfolio/6.jpg'%}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>

        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت فری استایل</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/1.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">رشته اسکیت فری استایل خود شامل ۶ زیر شاخه می شود. همانطور که از نام این رشته پیداست این رشته شامل آزادی و تنوع بسیار بالایی است از این رو به آن freestyle می گویند. این رشته شامل سرعت،پرش،حرکات نمایشی و چرخشی،ترمز های نمایشی و غیره است</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت رولبال</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/2.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">در اینه رشته اسکیت سواران به دو تیم ۶ نفره که هر کدام ۶ بازیکن ذخیره نیز دارند.این رشته ترکیبی از رشته هندبال،بسکتبال و اسکیت است.در رشته رولبال بازیکان می بایست بدون وارد شدن به فضای مشخص شده ۶ متر توپ بسکتبال را به دروازه حریف بیاندازند</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت سرعت</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/3.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">در این رشته اسکیت سواران از چرخ های بزرگ و با سرعت بالا استفاده می کنند. رشته اسکیت سرعت یکی از مهیج ترین رشته های اسکیت است که در آن اسکیت سوارن با تمرین و یادگیری تکنیک های متفاوت یاد می گیرند که چگونه با حداکثر سرعت ممکن حرکت کنند و در عین حال انرژی کمتری بسوزانند</p>

                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت آلپاین</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/4.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">در این رشته اسکیت سواران از سطح شیب دار شروع به مسابقه می کنند و پس از گذشت از پرچم ها به صورت مارپیج خط پایان را رد می کنند.در این رشته بازیکن اجازه دارد ۲ بار به مسابقه به صورت انفرادی بپردازد و در اخر بهترین رکورد برای او ثبت می شود</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت هاکی</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/5.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">در رشته اسکیت هاکی بازیکنان به دو گروه ۵ نفره که شامل ۴ بازیکن و یک دروازه بان می شود تقسیم می شنود و در دو نیمه ۲۵ دقیقه ای و استراحت ۵ دقیقه ای بین دو نیم به رقابت می پردازند.در این رشته تماس بیش از حد بازیکنان با هم بر خلاف دو گرایش رینک و ایس هاکی خطا محسوب می شود</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">رشته اسکیت هنری</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image-->
                                    <img class="img-fluid rounded mb-5" src="{% static 'assets/img/portfolio/6.jpg'%}" alt="..." />
                                    <!-- Portfolio Modal - Text-->
                                    <p class="mb-4">اسکیت هنری همانند اسکیت روی یخ یا پاتیناژ است اما بوسیله اسکیت های رولر(کواد یا اینلاین)انجام می شود.در رشته اسکیت هنری بازیکنان به اجرای حرکات نمایشی همراه با نواخت آهنگ می پردازند که می تواند به صورت انفرادی،دونفره یا تیمی باشد</p>
                                    <button class="btn btn-primary" data-bs-dismiss="modal">
                                        <i class="fas fa-xmark fa-fw"></i>
                                        بستن پنجره
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}